apiVersion: v1
kind: Secret
metadata:
  name: cloudflare-ddns-secret
  namespace: cloudflare-ddns
type: Opaque
data:
  AUTH_EMAIL: c3VpajIwMDNAZ21haWwuY29t
  AUTH_KEY: LTRBZzFxRWxnVVNDSzloZDhHMWFyaGZVaU1pVmNZOTUtMHRreExhaw==
  ZONE_IDENTIFIER: ZWM2NGNmOTI4MzIxMWE4NTA1NjRjNGVjNjA3MjlkNjQ=
